@font-face
{
    font-family: 'Abril Fatface';
    src: url(fonts/AbrilFatface-Regular.ttf);
}

@font-face
{
    font-family: 'Open Sans';
    src: url(fonts/OpenSans-Regular.ttf);
}

@font-face
{
    font-family: 'Merriweather';
    src: url(fonts/Merriweather-Regular.ttf);
}

html
{
    scroll-behavior: smooth;
}


body
{
    margin: 0%;
}

.logo
{
    text-align: center;
}

.logo img
{
    padding-top: 10px;
    height: 30px;
}

#header
{
    background-color: black;
}

.live
{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.header3
{
    font-family: 'Abril Fatface';
    color: white;
    font-size: 42px;
}

.keypoints
{
    background-color: #F7734F;
    color: white;
    padding: 8px 16px 4px;
    font-size: 14px;
    font-family: 'Merriweather',serif;
}

.keypoints p
{
    color: white;
}

.keypoints a:link
{
    color: #901f1f;
    text-decoration: underline;
}

#content
{
    margin-top: 3%;
    width: 70%;
    margin-left: 5%;
}

#scroll
{
    background-color: #d2d6dc;
    width: 30%;
    margin-left: 3%;
    overflow: scroll;
    height: 800px;
    overflow-x: hidden;
    position: sticky;
    position: -webkit-sticky;
    top: 40px;
    margin-top: 3%;
    padding-right:20px
}

#scroll p
{
    font-weight: bold;
    margin-left: 5%;
}

.headings
{
    font-family: 'Abril Fatface', cursive;
}

#AI div
{
    margin: auto;
}

#scroll a:link
{
    color: #000000;
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-size: 12px;
}

#scroll a:visited
{
    color: #000000;
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-size: 12px;
}

.lists
{
    font-size: 12px;
    font-weight: normal !important;
    color: #606F7B !important;
    font-family: 'Open Sans';
}

.lists li{
    padding-bottom: 20px;
}

.timeuploaded
{
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-size: 12px;
    color: #606F7B;
}

#ItalyDeaths div
{
    font-family: 'Merriweather';
    font-size: 16px;
}

.contentp
{
    font-family: 'Merriweather';
    font-size: 16px;
}

.contentp blockquote
{
    margin-left: 10%;
    margin-right:15%;
    border-left-color: #F7734F;
    padding-left: 10px;
    border-left-style: solid;
    font-style: italic;
    border-left-width: 5fpx;
}

.contentp p a
{
    color: #F7734F;
}

#germantweet
{
    margin-left: 7%;
}

.onlytweet
{
    margin-left: 7%;
}

